/= render 'points/form'
.pull-right
  = link_to 'Update my progress', '#new-point', class: 'btn btn-primary btn-lg', data: { toggle: 'modal' }


= modal_dialog id: 'new-point', 
           header: { show_close: true, dismiss: 'modal', title: "I've made progress toward my goal!" }, 
           body: Proc.new { render 'points/form' }.call,
           footer: nil

/.modal.fade
/  .modal-dialog
/    .modal-content
/      .modal-header
/        %h3 I've made progress towards my goal!
/      .modal-body
/        = render 'points/form'