- content_for :title, "THIS YEAR I - DEMO"

%h1.page-header Demo

.row
  .col-md-5
    %p.mid This screenshot shows a typical dashboard. The user has created her goal "This year I will run 400 miles." and has updated her progress several times, totaling 56.3 miles.

    %p.mid The four columns compare her current progress to the expected progress by the date noted at the top of each column.

    %p.mid The green numbers show that she is ahead of schedule. If she doesn't run for the rest of the week, she'll still be 1.22 miles ahead of where she needs to be to reach her goal!

    %p.mid <a href="/users/sign_in">Sign up now</a> and start working toward your goal!
  .col-md-7
    = image_tag 'demo.jpg', class: 'img-responsive img-bordered'