// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background: image-url("bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

footer {
  min-height: 40px;
  //text-align: right;
  color: #c7c7c7;
  color: #333;
  font-family: "Titillium Web";
  //text-shadow: 1px 1px 1px #333;
  font-size: 18px;
  text-transform: uppercase;
  a {
    color: #00fff5;
    text-shadow: 1px 1px 0px #000;
    &:hover { color: white; }
  }

  .hello {
    a {
      margin-left: 10px;
    }
  }

  .pull-right a {
    margin-right: 10px;
  }

}

body {
  background-color: #333;
  .main-container {
    background-color: #EEE;
  }
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

.btn {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  border: 0;
}

.btn-primary.visually-disabled {
  //background-color: #FFF;
  opacity: 0.65;
  filter: alpha(opacity=65);
  &:hover {
    background-color: #00fff5;
  }  
}

.tooltip.bottom .tooltip-arrow { border-bottom-color: #333; }

.tooltip-inner {
  max-width: 300px;
  background-color: #333;

  span {
    color: #00fff5;
    display: block;
  }
}

a.btn:visited {
  color: #333;
}

.alert {
  text-align: right;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  color: white;
  text-shadow: 1px 1px 3px #333;
  padding-top: 5px;
  padding-bottom: 5px;
}

.alert-danger {
  background-color: red;
  text-align: center;
}

.well,
.jumbotron {
  background: image-url('content-bg.png') repeat top left;
  border-radius: 0;
  border: 0;
  margin-top: 20px;
  padding: 24px 40px 36px;
}

a.xxl {
  font-size: 80px;
  text-align: center;
  background-color: #00FFF5;
  color: #333;
  display: block;
  padding: 10px;
  margin-bottom: 20px;

  h2 {
    margin: 0;
  }

  &:hover {
    text-decoration: none;
    color: white;
  }
}

.navbar {
  margin-bottom: 80px;
  .navbar-brand {
    color: whitesmoke;
    color: #333;
    font-size: 36px;
    line-height: 28px;
    a {
      font-family: 'Coustard';
      font-weight: 900;
      color: #333;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
    .slogan {
      font-family: 'Titillium Web';
      font-weight: 700;
      font-size: 16px;
      line-height: 16px;
      margin-left: 5px;
      //line-height: normal;
    }
  }
}

.user-nav {
  background-color: #333;
  padding: 8px;
  text-align: center;

  span {
    color: whitesmoke;
  }

  .providers,
  .controls {
    text-align: center;
    font-size: 32px;

    a {
      color: #00FFF5;
      padding: 2px;
      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

h2.lead {
  font-size: 60px;
  line-height: 60px;
  //margin-top: 0;
  //margin: 8px 0;
}

form.large {
  input[type="text"] {
    border-radius: 0;
    border: 0;
    padding: 10px;
    font-size: 36px;
    height: auto;
  }

  input[type="submit"].btn {
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
  }
}

form.xlarge {
  input[type="text"] {
    //width: 100%;
  }

  input[type="text"],
  input[type="number"], {
    border-radius: 0;
    padding: 10px;
    font-size: 24px;
    height: auto;
  }
}

.form-controls {
  text-align: right;
  .btn {
    border: 0;
    border-radius: 0;
    font-size: 18px;
  }
}

.modal-dialog {
  margin-top: 110px;
}

.modal-header {
  h3 { 
    margin: 0;
  }
  .close {
    margin-top: 2px;
    margin-right: 6px;
  }
}

.close {
  color: white;
  opacity: 0.8;
}

.status {
  text-align: center;
  font-size: 18px;
}

.ps h4,
a.loud,
footer,
.user-nav span,
.help a {
  color: #00FFF5;
  color: whitesmoke;
  background-color: #333;
  padding: 5px 10px;
  font-family: 'Titillium Web';
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.ps h4 {
  margin-top: 0;
}

.carousel {
  text-align: right;
  margin-top: 30px;
  font-size: 32px;
  line-height: normal;
  .item {
    span {
      //background-color: #333;
      color: #00FFF5;
      //padding: 2px 8px;
    }
  }
}

input#point_quantity {
  width: 80px;
}

span.quantity {
  font-size: 30px;
  font-weight: bold;
  padding: 0 5px;
}

h2.positive, h2.negative {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2.positive { color: green; }
h2.negative { color: red;   }

@import "twitter/bootstrap/variables.less";

@media (max-width: @screen-xs-max) {
  form.large input[type="text"] {
    padding: 4px 6px;
    font-size: 14px;
  }

  .carousel {
    font-size: 12px;
  }

  .user-nav {
    display: inline-block;
    float: right;
    .providers, .controls {
      font-size: 26px;
    }
  }

  .navbar {
    margin-bottom: 10px;
  }

  .well {
    padding: 10px;
    margin-top: 0;
  }

}

@media (max-width: @screen-md-max) {
  footer .pull-right {
    clear: both;
    display: block;
    float: none !important;
  } 
}
